body {
	font-family: 'Lato';
	font-size: 16px;
	background-color: #ecf0f1;
	font-weight: lighter;
}

header {
	width: 100%;
	height: 80px;
	background-color: #2c3e50;
}

header #logo {
	display: flex;
	background-color: #fff;
	height: 100%;
	width: 353px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

header #logo::after{
    content: '';
    border-bottom: 40px solid transparent;
    border-left: 40px solid #fff;
    border-right: 40px solid transparent;
    border-top: 40px solid #fff;
    position: absolute;
    right: -80px;
}

header #logo img {
	width: 100px;
}

header #logo h1 {
	color: #2c3e50;
	font-family: Arial;
	font-weight: lighter;
}

section {
	background-color: #fff;
	padding: 1em;
	width: 80%;
	margin: 1em auto;
}

section h2 {
	margin: 0;
	font-weight: lighter;
	font-family: 'Italianno';
	font-size: 3em;
	border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
}

section p {
	font-weight: lighter;
}

#email-pass input[type="email"] {
	padding: .5em;
	border: none;
	background-color: #f0f0f0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-right: -3px;
	width: 40%;
}

#email-pass input[type="email"]:focus {
	outline: none;
}

#email-pass input[type="submit"] {
	border: none;
	background-color: #3498db;
	color: #fff;
	padding: .5em;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#password_confirm {
	background-image: url('../img/pattern_lineas.png');
	width: 45%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#password_confirm input[type="password"] {
	border: none;
	border-radius: 3px;
	padding: 1em;
	background-color: #ecf0f1;
	margin-bottom: 1em;
}

#password_confirm input[type="password"]:focus {
	outline: none;
	border: 1px dashed rgba(40,40,40,0.3);
}

#password_confirm input[type="submit"] {
	background-color: #3498db;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.3);
	padding: 1em 0em;
}
