html, body {
	height: 100%;
}

body {
	background-color: #ecf0f1;
	font-family: 'Lato';
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h1 {
	margin: 0;
	font-weight: lighter;
	font-size: 2.5em;	
}

p{
	font-weight: lighter;
	font-size: 1.1em;
}

button {
	background-color: #e67e22;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
	text-decoration: none;
	padding: 1em;
	font-weight: lighter;
	border-radius: 3px;
	border: none;
	border-bottom: 3px solid #bd6414;
	border-right:  3px solid #bd6414;
}

button:hover {
	cursor: pointer;
	text-decoration: underline;
}

div.code {
	color: #3498db;
	font-weight: bolder;
	font-size: 21em;
}