body {
	font-family: 'Poppins';
	font-weight: 300;
    font-size: 13px;
	color: #67757c;
	background-color: #f4f6f9;
}

html, body.login {
	height: 100%;
}

/* LOGIN STYLE */
#login-background {
	background-image: url('../img/support.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(3px) brightness(0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1000;
}

#login-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	color: #fff;
}

#login-wrapper .header {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#login-wrapper .header > img {
	width: 100px;
	display: inline-block;
}

#login-wrapper .header > h1 {
	font-family: 'Lato', Arial;
	font-weight: lighter;
	display: inline-block;
	margin: 0;
}

#login-wrapper form {
	background-color: #f4f6f9;
	color: #67757c;
	padding:  1rem;
	margin-top: 1rem;
	width: 360px;
	font-family: 'Poppins';
}

#login-wrapper form > h2 {
	margin: 0;
	margin-bottom: 1rem;
	font-weight: lighter;
	font-size: 13px;
	text-align: center;
}

#login-wrapper form .form-input {
	position: relative;
	margin-bottom: 1.429rem;
}

#login-wrapper form .form-input > .form-control {
	color: #67757c;
	min-height: 38px;
	background-color: transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
	padding: 0;
	transition: background 0s ease-out 0s;
	box-sizing: border-box;
	height: 2.573rem;
	font-size: 1rem;
	line-height: 1.25;
	border: 0;
	border-radius: 0;
	width: 100%;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 300;
	background-image: linear-gradient(#398bf7 , #398bf7), linear-gradient(#d9d9d9, #d9d9d9);
}

#login-wrapper form .form-input > span {
	position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

#login-wrapper form .form-input > .form-control:focus {
	background-image: linear-gradient(#398bf7 , #398bf7), linear-gradient(#d9d9d9, #d9d9d9);
	background-size: 100% 2px, 100% 1px;
	outline: 0;
	transition-duration: .3s;
}

#login-wrapper form .fog-psw {
	display: flex;
	align-items: center;
	color: #67757c;
	justify-content: center;
	margin-bottom: 1.429rem;
}
#login-wrapper form .fog-psw:hover {
	color: #398bf7;
}

#login-wrapper form .fog-psw:hover > a {
	color: #398bf7;
}

#login-wrapper form .fog-psw > a {
	text-decoration: none;
	color: #67757c;
	margin-left: 5px;
}

#login-wrapper form button {
	width: 100%;
	background-color: #398bf7;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 400;
	border: 1px solid transparent;
	padding: .5rem .75rem;
	transition: all .5s ease-in-out;
}

#login-wrapper form button:hover {
	background-color: #65bdf8;
    border-color: #65bdf8;
    color: #fff;
}

#login-wrapper form .error {
	display: block;
	text-align: center;
	margin-bottom: 1.429rem;
}

/* SITE STYLE */
nav.navbar {
	min-height: 60px;
	padding: 0;
	background-color: #3F51B5 !important;
}

nav.navbar > .navbar-brand {
	background-color: #233284;
	min-height: 60px;
	padding: 0px 1em;
	vertical-align: center;
	display: flex;
	align-items: center;
	margin-right: 0em;
}

.content-header {
	background-color: #f4f6f9;
	padding: 17px 20px 5px
}

.content-header > h2 {
	font-size: 24px;
	color: #455a64;
	margin: 0 0 0px;
	line-height: 40px;
	font-weight: 300;
}

section.content {
	background: #f4f6f9;
	min-height: 250px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.box {
	position: relative;
	border-top: 0;
	margin-bottom: 20px;
	width: 100%;
	background: #fff;
    border-radius: 0;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-header {
    color: #455a64;
    display: block;
    padding: 0.8rem 1.25rem;
    position: relative;
    border-bottom: 1px solid rgba(97, 106, 120, 0.07);
}

.box-header .with-border {
	border-bottom-width: 1px;
    border-bottom-style: solid;
}

.box-header .box-title {
	line-height: 22px;
	font-size: 18px;
	display: inline-block;
    margin: 0
}

.box-header .box-subtitle {
	font-weight: 300;
    margin-bottom: 0px;
    margin-top: 5px;
	color: #99abb4;
	line-height: 16px;
    font-size: 14px;
}

.box-body {
	padding: 1.25rem;
    border-radius: 0 0 0px 0px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table {
	color: #757575;
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.label {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	border-radius: .25em;
}

.label-success {
	background-color: #00c292;
}

.label-danger {
	background-color: #F44336;
}

.page-link {
	border: none;
}

.detail-item {
	margin-bottom: 1rem;
}

.detail-item .detail-name {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.detail-item .detail-content {
	margin-left: 1rem;
}

.filter {
	text-align: right;
}

.filter span {
	text-transform: uppercase;
	display: block;
	font-weight: bold;
}

.filter a {
	display: block;
	margin-right: 5px;
	color: #99abb4;
}


.float-button-ticket {
	background-color: #3F51B5;
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 56px;
	height: 56px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background-color .5s ease-in-out;
	z-index: 1000;
}

.float-button-ticket:hover {
	color: #fff;
	text-decoration: none;
	background-color: #2196F3;
}

/* Cajas de los tickets */
.box-inverse {
	color: #fff !important;
}

.box-red {
	background-color: #F44336;
}

.box-orange {
	background-color: #FF9800;
}

.box-green {
background-color: #4CAF50;
}

.box-yellow {
	background-color: #FFEB3B;
}

.box-blue {
	background-color: #2196F3;
}

/* Estilos de los botones */
.btn-action {
	transition: background-color .5s ease-in-out;
	border: 1px solid;
	padding: .5em;
	display: flex;
	align-items: center;
	margin-right: 1em;
}

.btn-action span {
	margin-right: 3px;
}

.btn-action:hover {
	text-decoration: none;
}

.btn-green {
	border-color: #1abc9c;
	color: #1abc9c;
}

.btn-green:hover {
	background-color: #1abc9c;
	color: #fff;
}

.btn-yellow {
	border-color: #f1c40f;
	color: #f1c40f;
}

.btn-yellow:hover {
	background-color: #f1c40f;
	color: #fff;
}

.btn-red {
	border-color: #F44336; 
	color: #F44336;
}

.btn-red:hover {
	background-color: #F44336;
	color: #fff;
}

.btn-teal {
	border-color: #009688; 
	color: #009688;
}

.btn-teal:hover {
	background-color: #009688;
	color: #fff;
}

.btn-purple {
	border-color: #9C27B0; 
	color: #9C27B0;
}

.btn-purple:hover {
	background-color: #9C27B0;
	color: #fff;
}

.btn-blue {
	border-color: #3F51B5; 
	color: #3F51B5;
}

.btn-blue:hover {
	background-color: #3F51B5;
	color: #fff;
}

/* Colores de textos */
.text-yellow {
	color: #f1c40f;
}

.text-blue {
	color: #3498db;
}

.text-green {
	color: #4CAF50;
}

.text-pink {
	color: #E91E63;
}

.text-purple {
	color: #673AB7;
}

.text-red {
	color: #F44336;
}

.text-teal {
	color: #009688;
}

.text-blue-grey {
	color: #607D8B;
}

.text-amber {
	color: #FFC107;
}

.text-orange {
	color: #FF9800;
}

.bg-orange {
	background-color: #FF9800;
	color: #f4f6f9;
}

.bg-green {
	background-color: #4CAF50;
	color: #f4f6f9;
}

.bg-blue {
	background-color: #2196F3;
	color: #f4f6f9;
}

.bg-red {
	background-color: #F44336;
	color: #f4f6f9;
}

.bg-yellow {
	background-color: #FFC107;
	color: #f4f6f9;
}


@media screen and (max-width: 575.98px) {
	.filter {
		text-align: left;
		padding-left: 0px;
	}
	.filter a{
		margin-left: 5px;
		margin-right: 0;
	}
}