{% extends 'base.html' %}


{% load static %}

{% block styles_extras %}
	<link rel="stylesheet" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/default.date.css' %}">
	<link rel="stylesheet" href="{% static 'css/default.time.css' %}">
{% endblock styles_extras %}

{% block title %}Asignar encargado de soporte{% endblock %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Tickets <span class="fa fa-angle-right"></span> Asignar</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Asignar encargado de soporte a una incidencia</h4>
						<h6 class="box-subtitle">Ticket #{{ticket.id}}</h6>
					</div>
					<div class="box-body">
						<form action="" method="post" class="col-lg-6 col-md-12 mx-auto">
							<div class="form-group">
								<label for="soporte">Encargado de soporte</label>
								<select name="soporte" id="id_soporte" class="form-control">
									<option value="" required>------</option>
									{% for soporte in soportes %}
										{% if ticket.atendido_por.username == soporte.username %}
											<option value="{{soporte.username}}" selected>{{soporte.first_name}}&nbsp;{{soporte.last_name}}</option>
										{% else %}
											<option value="{{soporte.username}}">{{soporte.first_name}}&nbsp;{{soporte.last_name}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="fecha_programada">Fecha programada de atención</label>
								<input type="text" class="datepicker form-control" required placeholder="dd/mm/aaaa" name="fecha_programada" value="{{ticket.fecha_programada|date:'d/m/Y'}}">
							</div>
							<div class="form-group">
								<label for="fecha_programada">Hora aproximada de atención</label>
								<input type="text" class="timepicker form-control" required placeholder="HH:mm" name="hora_programada" value="{{ticket.hora_aproximada|time}}">
							</div>
							<div class="form-group">
								<label for="tipo_atencion">Tipo de atención</label>
								<select name="tipo_atencion" id="tipo_atencion" required class="form-control">
									<option value="">------</option>
									<option value="1" {% if ticket.tipo_de_atencion == '1' %}selected{% endif %}>Remota (TeamViewer)</option>
									<option value="2" {% if ticket.tipo_de_atencion == '2' %}selected{% endif %}>Telefónica</option>
									<option value="3" {% if ticket.tipo_de_atencion == '3' %}selected{% endif %}>Presencial</option>
								</select>
							</div>
							<div class="d-flex mt-3">
								<input type="submit" value="Asignar soporte" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}

{% block js_extras %}
	<script src="{% static 'js/picker.js' %}"></script>
	<script src="{% static 'js/picker.date.js' %}"></script>
	<script src="{% static 'js/picker.time.js' %}"></script>
	<script>
		$('.datepicker').pickadate({
			format: 'dd/mm/yyyy',
			today: 'Hoy',
			clear: 'Limpiar',
			close: 'Cerrar',
			monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sept', 'Oct', 'Dic'],
			selectYears: true,
	  		selectMonths: true,
	  		weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
	  		min: Date.now(),
		});
		$('.timepicker').pickatime({
			clear: 'Limpiar',
			editable: false,
			format: 'HH:i',
			formatSubmit: 'HH:i'
		})
	</script>
{% endblock js_extras %}