{% extends 'base.html' %}

{% load static %}

{% block title %}Crear nuevo ticket{% endblock %}
 
{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Tickets <span class="fa fa-angle-right"></span> Crear ticket</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Registrar incidencia en un equipo</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="post" class="col-lg-6 col-md-12 mx-auto">
							{% csrf_token %}
							<div class="form-group">
								{{form.reporte.label_tag}}
								{{form.reporte}}
								{% if form.reporte.errors %}
									<small class="text-red">
										{{form.reporte.errors.0}}
									</small>
								{% endif %}
							</div>
							<div class="form-group">
								{{form.poliza.label_tag}}
								{{form.poliza}}
								{% if form.poliza.errors %}
									<small class="text-red">
										{{form.poliza.errors.0}}
									</small>
								{% endif %}
							</div>
							<div class="form-group">
								{{form.equipo.label_tag}}
								<select name="equipo" id="id_equipo" class="form-control" disabled>
									<option value="" selected="">---------</option>
								</select>
								{% if form.equipo.errors %}
									<small class="text-red">
										{{form.equipo.errors.0}}
									</small>
								{% endif %}
							</div>
							<div class="d-flex mt-3">
								<input type="submit" value="Registrar ticket" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}

{% block js_extras %}
	<script src="{% static 'js/ticket_create.js' %}"></script>
	{{form.media}}
{% endblock js_extras %}
<!-- form media -->
