{% extends 'base.html' %}

{% load static %}

{% block title %}Concluir Soporte{% endblock %}
 
{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Tickets <span class="fa fa-angle-right"></span> Concluir soporte</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		{{form.media}}
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Registrar detalles a la conclusión del soporte</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="post">
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.solucion.label_tag}}
										{{form.solucion}}
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.notas_adicionales.label_tag}}
										{{form.notas_adicionales}}
									</div>
								</div>
							</div>
							<div class="d-flex mt-3">
								<input type="submit" value="Concluir soporte" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}