{% extends 'base.html' %}

{% block title %}Detalle del ticket{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Tickets <span class="fa fa-angle-right"></span> Detalle</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Detalle del ticket <span class="text-blue">#{{ticket.id}}</span></h4>
						<!-- <h6 class="box-subtitle"></h6> -->
					</div>
					<div class="box-body">
						<div class="row">
								<div class="col-lg-6 col-sm-12">
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-file"></span> PÓLIZA:</div>
										<div class="detail-content">{{ticket.poliza.nombre}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-desktop"></span> EQUIPO:</div>
										<div class="detail-content">{{ticket.equipo.id}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-user-edit"></span> REGISTRADO POR:</div>
										<div class="detail-content">{{ticket.registrado_por.first_name}}&nbsp;{{ticket.registrado_por.last_name}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-calendar-alt"></span> FECHA DE REPORTE:</div>
										<div class="detail-content">{{ticket.created_at}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-user-check"></span> ATENDIDO POR:</div>
										<div class="detail-content">{{ticket.atendido_por.first_name|default:"Aún no asignado"}}&nbsp;{{ticket.atendido_por.last_name}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-user-clock"></span> FECHA PROGRAMADA DE ATENCIÓN:</div>
										<div class="detail-content">{{ticket.fecha_programada|default:"No definida"}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-calendar-check"></span> FECHA DE ATENCIÓN:</div>
										<div class="detail-content">{{ticket.fecha_atencion|default:"Aún sin atender"}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-wrench"></span> TIPO DE ATENCIÓN:</div>
										<div class="detail-content">{{ticket.get_tipo_de_atencion_display}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-user-tie"></span> CONFIRMACIÓN DEL ENCARGADO:</div>
										<div class="detail-content">
											{% if ticket.autorizacion_cliente %}
												<label class="label label-success">Confirmado</label>
											{% else %}
												<label class="label label-danger">No confirmado</label>
											{% endif %}
										</div>
									</div>
									
								</div>
								<div class="col-lg-6 col-sm-12">
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-wrench"></span> STATUS:</div>
										<div class="detail-content">{{ticket.get_status_display}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-bug"></span> REPORTE:</div>
										<div class="detail-content">{{ticket.reporte|safe}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-thumbs-up"></span> SOLUCIÓN:</div>
										<div class="detail-content">{{ticket.solucion|safe}}</div>
									</div>
									<div class="detail-item">
										<div class="detail-name"><span class="fa fa-puzzle-piece"></span> NOTAS ADICIONALES:</div>
										<div class="detail-content">{{ticket.notas_adicionales|safe}}</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
	
	