{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de Tickets{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Tickets</h2>
			{% if "tickets.add_ticketconpoliza" in user.get_group_permissions %}
				<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					{% if user.is_designated_person %}
						<a href="{% url 'tickets:create_by_encargado' %}" class="btn-action btn-green"><span class="fa fa-plus "></span>Crear Ticket</a>
					{% else %}
						<a href="{% url 'tickets:create_ticket' %}" class="btn-action btn-green"><span class="fa fa-plus "></span>Crear Ticket</a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Listado de tickets</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
						{% include "messages.html" %}
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-10 col-md-12">
								<table class="table table-hover table-striped table-responsive-md mt-0">
									<thead class="thead-dark">
										<tr>
											<th>FOLIO</th>
											<th>PÓLIZA</th>
											<th>EQUIPO</th>
											<th>FECHA DE CREACIÓN</th>
											<th>REGISTRADO POR</th>
											<th>STATUS</th>
											<th>AUTORIZACIÓN DEL ENCARGADO</th>
											<th>ACCIONES</th>
										</tr>
									</thead>
									<tbody>
										{% for ticket in tickets %}
											<tr>
												<td {% if ticket.status == '2' %}class='bg-orange'{% endif %} {% if ticket.status == '1' %}class='bg-red'{% endif %} {% if ticket.status == '3' %}class='bg-yellow'{% endif %}{% if ticket.status == '4' %}class='bg-blue'{% endif %}{% if ticket.status == '5' %}class='bg-green'{% endif %}>{{ ticket.id }}</td>
												<td>{{ ticket.poliza.nombre }}</td>
												<td>{{ ticket.equipo.id }}</td>
												<td>{{ ticket.created_at|date}}</td>
												<td>{{ ticket.registrado_por.first_name}}&nbsp;{{ticket.registrado_por.last_name}}</td>
												<td>{{ ticket.get_status_display }}</td>
												{% if ticket.autorizacion_cliente %}
													<td class="text-center"><span class="fa fa-check-circle text-green"></td>
												{% else %}
													<td class="text-center"><span class="fa fa-times-circle text-red"></span></td>
												{% endif %}
												<td>
													{% if perms.tickets.change_ticketconpoliza and not ticket.is_complete %}
														<a href="{% url 'tickets:update' ticket.id %}" title="Editar ticket"><span class="fa fa-pencil-alt text-yellow"></span></a>
													{% endif %}													
													{% if user_group.name == "Encargados" and not ticket.autorizacion_cliente and ticket.is_attended %}
														<a href="{% url 'tickets:autorizar' ticket.id %}?next={{request.get_full_path}}" title="Autorizar soporte"><span class="fa fa-check text-green"></span></a>
													{% endif %}
													{% if perms.tickets.add_soporte and not ticket.is_complete %}
														<a href="{% url 'tickets:asignar' ticket.id %}?next={{request.get_full_path}}" title="Asignar soporte"><span class="fa fa-user-plus text-blue"></span></a>
													{% endif %}
													{% if user_group.name == "Soporte" and not ticket.is_complete %}
														<a href="{% url 'tickets:concluir' ticket.id %}?next={{request.get_full_path}}" title="Concluir soporte"><span class="fa fa-check text-green"></span></a>
													{% endif %}
													{% if ticket.status == '4' and user_group.name == "Administración" %}
														<a href="{% url 'tickets:cobro' ticket.id %}?next={{request.get_full_path}}" title="Autorizar cobro"><span class="fa fa-dollar text-green"></span></a>
													{% endif %}
													<a href="{% url 'tickets:detail' ticket.id %}" title="Ver detalles"><span class="fa fa-eye text-purple"></span></a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% if is_paginated %}
									<div class="row d-flex align-items-center">
										<div class="col-lg-6 col-md-12">
												Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
										</div>
										<div class="col-lg-6 col-md-12">
											<ul class="pagination justify-content-end">
												{% if page_obj.has_previous %}
													<li class="page-item">
														<a href="{% url 'tickets:list' %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
													</li>
												{% endif %}
												{% for page in page_obj.paginator.page_range %}
													{% if page == page_obj.number %}
														<li class="page-item active">
															<a href="{% url 'tickets:list' %}?page={{ page }}" class="page-link">{{page}}</a>
														</li>
													{% else %}
														<li class="page-item">
															<a href="{% url 'tickets:list' %}?page={{ page }}" class="page-link">{{page}}</a>
														</li>
													{% endif %}
												{% endfor %}
												{% if page_obj.has_next %}
													<li class="page-item">
														<a href="{% url 'tickets:list' %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="col-lg-2 col-sm-12">
									<form action="" method="GET">
											{% if user_group.name != "Encargados" %}
											<div class="filter">
												<span>Por poliza</span>
												<a href="?{{url_status}}{{url_gte}}{{url_lt}}">Todas las pólizas</a>
												<div class="row">
													<select name="poliza" id="id_poliza" class="custom-select col-9">
														<option value="">Seleccione una póliza</option>
														{% for poliza in polizas %}		
															{% if 'poliza' in request.GET and poliza.folio == request.GET.poliza %}
																<option value="{{poliza.folio}}" selected>{{poliza.nombre}}</option>
															{% else %}
																<option value="{{poliza.folio}}">{{poliza.nombre}}</option>
															{% endif %}
														{% endfor %}
													</select>
													<button class="col-2 btn btn-primary"><span class="fa fa-search"></span></button>
												</div>
											</div>
											{% endif %}
										{% if 'poliza' in request.GET or 'equipo' in request.GET or user_group.name == "Encargados"%}
											<div class="filter">
												<span>Por equipo</span>
												<a href="?{{url_poliza}}{{url_status}}{{url_gte}}{{url_lt}}">Todos los equipos</a>
												<div class="row">
													<select name="equipo" id="id_equipo" class="custom-select col-9">
														<option value="">Seleccione un equipo</option>
														{% for equipo in equipos %}		
															{% if 'equipo' in request.GET and equipo.id == request.GET.equipo %}
																<option value="{{equipo.id}}" selected>{{equipo.id}}</option>
															{% else %}
																<option value="{{equipo.id}}">{{equipo.id}}</option>
															{% endif %}
														{% endfor %}
													</select>
													<button class="btn btn-primary col-2"><span class="fa fa-search"></span></button>
												</div>
											</div>
										{% endif %}
										</form>
								<!-- FILTROS BASE -->
								<div class="filter">
									<span>Por status</span>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_gte}}{{url_lt}}">Todos</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_gte}}{{url_lt}}status__exact=1">Pendiente</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_gte}}{{url_lt}}status__exact=2">Asignado</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_gte}}{{url_lt}}status__exact=3">Atendido</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_gte}}{{url_lt}}status__exact=4">Sin cobro</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_gte}}{{url_lt}}status__exact=5">Completo</a>
								</div>
								<div class="filter">
									<span>Por fecha de creación</span>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_status}}">Cualquier fecha</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_status}}created_at__gte={{dates.now.0|date:'Y-m-d'}}&created_at__lt={{dates.now.1|date:'Y-m-d'}}">Hoy</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_status}}created_at__gte={{dates.last_7.0|date:'Y-m-d'}}&created_at__lt={{dates.last_7.1|date:'Y-m-d'}}">Últimos 7 días</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_status}}created_at__gte={{dates.this_month.0|date:'Y-m-d'}}&created_at__lt={{dates.this_month.1|date:'Y-m-d'}}">Este mes</a>
									<a href="{% url 'tickets:list' %}?{{url_poliza}}{{url_equipo}}{{url_status}}created_at__gte={{dates.this_year.0|date:'Y-m-d'}}&created_at__lt={{dates.this_year.1|date:'Y-m-d'}}">Este año</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% if is_paginated %}
		 <div class="pagination">
            	<span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_previous %}
                    <a href="{% url 'polizas:list' %}?page={{ page_obj.previous_page_number }}" class="page_number bg-red"><span class="fa fa-chevron-left fa-inverse"></span></a>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                	<div class="page_number">
            			<a href="{% url 'polizas:list' %}?page={{ page }}">{{page}}</a>
            		</div>
            	{% endfor %}
                {% if page_obj.has_next %}
                	<a href="{% url 'polizas:list' %}?page={{ page_obj.next_page_number }}" class="page_number bg-red"><span class="fa fa-chevron-right fa-inverse"></span></a>
                {% endif %}
        </div>
	{% endif %}

	{% if is_paginated %}
		 <div class="pagination">
            	<span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_previous %}
                    <a href="{% url 'usuarios:list' %}?page={{ page_obj.previous_page_number }}" class="page_number bg-red"><span class="fa fa-chevron-left fa-inverse"></span></a>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                	<div class="page_number">
            			<a href="{% url 'usuarios:list' %}?page={{ page }}">{{page}}</a>
            		</div>
            	{% endfor %}
                {% if page_obj.has_next %}
                	<a href="{% url 'usuarios:list' %}?page={{ page_obj.next_page_number }}" class="page_number bg-red"><span class="fa fa-chevron-right fa-inverse"></span></a>
                {% endif %}
        </div>
	{% endif %}
{% endblock %}

