{% extends 'base.html' %}

{% block title %}Crear nuevo usuario{% endblock %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Usuarios <span class="fa fa-angle-right"></span> Actualizar Encargado</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Actualizar encargado existente</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.username.label_tag}}
										{{form.username}}
										{% if form.username.errors %}
											<small class="text-red">
												{{form.username.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.first_name.label_tag}}
										{{form.first_name}}
										{% if form.first_name.errors %}
											<small class="text-red">
												{{form.first_name.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.last_name.label_tag}}
										{{form.last_name}}
										{% if form.last_name.errors %}
											<small class="text-red">
												{{form.last_name.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.email.label_tag}}
										{{form.email}}
										{% if form.email.errors %}
											<small class="text-red">
												{{form.email.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.telefono.label_tag}}
										{{form.telefono}}
										{% if form.telefono.errors %}
											<small class="text-red">
												{{form.telefono.errors.0}}
											</small>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.password.label_tag}}
										{{form.password}}
										{% if form.password.errors %}
											<small class="text-red">
												{{form.password.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="custom-control custom-checkbox">
										{{form.is_active}}
										<label for="id_is_active" class="custom-control-label">Status</label>
									</div>
									<div class="form-group">
										{{form.groups.label_tag}}
										{{form.groups}}
									</div>
									<div class="form-group">
										<label for="poliza">Póliza:</label>
										<select name="poliza" id="id_poliza" class="custom-select">
											<option value="">Seleccione una póliza</option>
											{% for poliza in polizas %}
												{% if poliza.folio == poliza_actual %}
													<option value="{{ poliza.folio }}" selected>{{poliza.nombre}}</option>
												{% else %}
													<option value="{{ poliza.folio }}">{{poliza.nombre}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
									<div class="d-flex mt-3">
										<input type="submit" value="Actualizar encargado" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}