{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de usuarios{% endblock %}	

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Usuarios</h2>
			{% if perms.usuarios.add_user %}
				<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="{% url 'usuarios:create' %}" class="btn-action btn-green"><span class="fa fa-plus bg-dark-green"></span>Agregar usuario</a>
				</div>
			{% endif %}
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Listado de usuarios</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
						{% include 'messages.html' %}
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-10 col-md-12">
								<table class="table table-hover table-striped table-responsive-md mt-0">
									<thead class="thead-dark">
										<tr>
											<th>USERNAME</th>
											<th>NOMBRE</th>
											<th>APELLIDOS</th>
											<th>EMAIL</th>
											<th>TÉLEFONO</th>
											<th>STATUS</th>
											<th>GRUPOS</th>
											<th>PÓLIZA</th>
											<th>ACCIONES</th>
										</tr>
									</thead>
									<tbody>
										{% for usuario in users %}
											<tr>
												<td>{{ usuario.username }}</td>
												<td>{{ usuario.first_name }}</td>
												<td>{{ usuario.last_name }}</td>
												<td>{{ usuario.email }}</td>
												<td>{{ usuario.telefono }}</td>
												{% if usuario.is_active %}
													<td><label class="label label-success">Activo</label></td>
												{% else %}
													<td><label class="label label-danger">Inactivo</label></td>
												{% endif %}
												<td>{{ usuario.groups.all.0}} {% if usuario.groups.all.1 %} | {{usuario.groups.all.1}}{% endif %}</td>
												<td>{{usuario.poliza.nombre|default:"N/A"}}</td>
												<td class="actions">
													{% if perms.usuarios.change_user %}
														<a href="{% url 'usuarios:update' usuario.id %}" title="Editar usuario"><span class="fa fa-pencil-alt text-yellow"></span></a>
													{% endif %}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% if is_paginated %}
									<div class="row d-flex align-items-center">
										<div class="col-lg-6 col-md-12">
												Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
										</div>
										<div class="col-lg-6 col-md-12">
											<ul class="pagination justify-content-end">
												{% if page_obj.has_previous %}
													<li class="page-item">
														<a href="{% url 'usuarios:list' %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
													</li>
												{% endif %}
												{% for page in page_obj.paginator.page_range %}
													{% if page == page_obj.number %}
														<li class="page-item active">
															<a href="{% url 'usuarios:list' %}?page={{ page }}" class="page-link">{{page}}</a>
														</li>
													{% else %}
														<li class="page-item">
															<a href="{% url 'usuarios:list' %}?page={{ page }}" class="page-link">{{page}}</a>
														</li>
													{% endif %}
												{% endfor %}
												{% if page_obj.has_next %}
													<li class="page-item">
														<a href="{% url 'usuarios:list' %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="col-lg-2 col-sm-12">
									<div class="filter">
										<span>Por estatus</span>
										<a href="{% url 'usuarios:list' %}?{{grupo}}" title="Ver todos">Todos/as</a>
										<a href="{% url 'usuarios:list' %}?{{grupo}}&is_active__exact=1" title="Filtrar activos">Activo</a>
										<a href="{% url 'usuarios:list' %}?{{grupo}}&is_active__exact=0" title="Filtrar inactivos">Inactivo</a>
									</div>
									<div class="filter">
										<span>Por grupo</span>
										<a href="{% url 'usuarios:list' %}?{{status}}" title="Ver todos">Todos/as</a>
										<a href="{% url 'usuarios:list' %}?{{status}}&groups__name__exact=Encargados" title="Filtrar encargados">Encargados</a>
										<a href="{% url 'usuarios:list' %}?{{status}}&groups__name__exact=Soporte" title="Filtrar soporte">Soporte</a>
										<a href="{% url 'usuarios:list' %}?{{status}}&groups__name__exact=Soporte Administrador" title="Filtrar Administración">Soporte Administrador</a>
										<a href="{% url 'usuarios:list' %}?{{status}}&groups__name__exact=Administración" title="Filtrar Administración">Administración</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}