{% extends 'base.html' %}

{% block title %}Crear nuevo usuario{% endblock %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Usuarios <span class="fa fa-angle-right"></span> Actualizar</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Actualizar usuario</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.username.label_tag}}
										{{form.username}}
									</div>
									<div class="form-group">
										{{form.first_name.label_tag}}
										{{form.first_name}}
									</div>
									<div class="form-group">
										{{form.last_name.label_tag}}
										{{form.last_name}}
									</div>
									<div class="form-group">
										{{form.email.label_tag}}
										{{form.email}}
									</div>
									<div class="form-group">
										{{form.telefono.label_tag}}
										{{form.telefono}}
									</div>
									<div class="form-group">
										{{form.password.label_tag}}
										{{form.password}}
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="custom-control custom-checkbox">
										{{form.is_active}}
										<label for="id_is_active" class="custom-control-label">Status</label>
									</div>
									<div class="custom-control custom-checkbox mt-2">
										{{form.is_designated_person}}
										<label for="id_is_designated_person" class="custom-control-label">Encargado de póliza</label>
									</div>

									<div class="form-group mt-2">
										{{form.poliza.label_tag}}
										{{form.poliza}}
									</div>
									<div class="form-group">
										{{form.groups.label_tag}}
										{{form.groups}}
									</div>
									<div class="d-flex mt-3">
										<input type="submit" value="Actualizar usuario" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock contenido %}

{% block js_extras %}
	<script>
		$(document).ready(function() {
			{% if not form.instance.is_designated_person %}
				$("#id_poliza").prop("disabled", true);
			{% else %}	
				$("#id_groups").prop("disabled", true);
			{% endif %}
			$("#id_is_designated_person").change(function() {
				if (this.checked) {
					$("#id_poliza").prop("disabled", false);
					$("#id_groups").prop("disabled", true);
					$("#id_groups").val("3");
				} else {
					$("#id_poliza").prop("disabled", true);
					$("#id_groups").prop("disabled", false);
					$("#id_groups").val("");
				}
			});
		});

		
	</script>
{% endblock js_extras %}