{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Agregar nueva póliza{% endblock %}

{% block contenido %}
	<div class="title">
		<h3>Agregar nuevo software</h3>
	</div>

	{% include "messages.html" %}

	<form action="" method="POST" class="form-action" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-item">
			<label for="csv">Archivo CSV:</label>
			<input type="file" name="csv" required accept="text/csv">
		</div>
	<div class="button-container">
		<input type="submit" value="Guardar Software">	
	</div>
	</form>

{% endblock contenido %}