{% extends 'base.html' %}

{% block title %}Detalle del equipo {{equipo.id}}{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Equipo <span class="fa fa-angle-right"></span> Detalle</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Detalle del equipo</h4>
						<h6 class="box-subtitle">{{equipo.id}}</h6>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="detail-item">
									<div class="detail-name"><span class="far fa-registered"></span> MARCA:</div>
									<div class="detail-content">{{equipo.marca}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-tag"></span> SERVICE TAG:</div>
									<div class="detail-content">{{equipo.service_tag}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-compact-disc"></span> SISTEMA OPERATIVO:</div>
									<div class="detail-content">{{equipo.sistema_operativo}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-hdd"></span> DISCO DURO:</div>
									<div class="detail-content">{{equipo.disco_duro}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-memory"></span> RAM:</div>
									<div class="detail-content">{{equipo.ram}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-eye"></span> GRÁFICOS:</div>
									<div class="detail-content">{{equipo.graficos}}</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-microchip"></span> PROCESADOR:</div>
									<div class="detail-content">{{equipo.procesador}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-file"></span> PÓLIZA:</div>
									<div class="detail-content">{{equipo.id_poliza.nombre}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-calendar-plus"></span> FECHA DE REGISTRO:</div>
									<div class="detail-content">{{equipo.created_at}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-edit"></span> FECHA DE MODIFICACIÓN:</div>
									<div class="detail-content">{{equipo.updated_at}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-user-edit"></span> ÚLTIMO USUARIO QUE MODIFICO:</div>
									<div class="detail-content">{{equipo.usuario.first_name}}&nbsp;{{equipo.usuario.last_name}}</div>
								</div>
							</div>
							<div class="col-12 d-flex justify-content-around">
								<a href="{% url 'inventarios:show_qrcode' poliza.folio equipo.id %}" class="btn-action btn-blue">Obtener código QR</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
	
	