{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de equipos{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-7 col-md-6">Inventarios <span class="fa fa-angle-right"></span> Equipos </h2>
			<div class="actions col-xl-5 col-md-6 d-flex justify-content-end">
				{% if perms.inventario.add_equipo %}
					<a href="{% url 'inventarios:create' poliza.folio %}" class="btn-action btn-green"><span class="fa fa-plus bg-dark-green"></span>Agregar equipo</a>
					<a href="{% url 'inventarios:create_massive' poliza.folio %}" class="btn-action btn-yellow d-none d-lg-flex"><span class="fa fa-plus bg-dark-yellow"></span>Agregar equipos</a>
					{% if equipos %}
						<a href="{% url 'inventarios:equipos_export' poliza.folio %}" class="btn-action btn-purple" target="_blank"><span class="fa fa-download bg-dark-red"></span>Descargar Inventario</a>
					{% endif %}
				{% endif %}
				{% if request.user.is_designated_person %}
					<a href="{% url 'inventarios:servidores' poliza.folio %}" class="btn-action btn-blue"><span class="fa fa-eye"></span> Ver servidores</a>
					<a href="{% url 'inventarios:impresoras' poliza.folio %}" class="btn-action btn-yellow"><span class="fa fa-eye"></span> Ver impresoras</a>
				{% else %}
				{% endif %}
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Lista de equipos</h4>
						<h6 class="box-subtitle">Inventario de {{poliza.nombre}}</h6>
						{% include "messages.html" %}
					</div>
					<div class="box-body">
						<table class="table table-hover table-striped table-responsive-md mt-0">
							<thead class="thead-dark">
								<tr>
									<th>ID</th>
									<th>MARCA</th>
									<th>SERVICE TAG</th>
									<th>USUARIO</th>
									<th>GRÁFICOS</th>
									<th>PROCESADOR</th>
									<th>ACCIONES</th>
								</tr>
							</thead>
							<tbody>
								{% for equipo in equipos %}
									<tr>
										<td {% if equipo.status == False %}class="bg-orange"{% endif %}>{{ equipo.id }}</td>
										<td>{{ equipo.marca }}</td>
										<td>{{ equipo.service_tag }}</td>
										<td>{{ equipo.username|default:"Sin Asignar" }}</td>
										<td>{{ equipo.graficos }}</td>
										<td>{{ equipo.procesador }}</td>
										<td class="actions">
											{% if perms.inventario.change_equipo %}
												<a href="{% url 'inventarios:update' poliza.folio equipo.id  %}" title="Editar equipo"><span class="fa fa-pencil-alt text-yellow"></span></a>	
											{% endif %}
											<a href="{% url 'inventarios:licencias_list' poliza.folio equipo.id %}" title="Listado de licencias"><span class="fa fa-id-card-alt text-blue"></span></a>
											<a href="{% url 'inventarios:software_list' poliza.folio equipo.id %}" title="Listado de software"><span class="fa fa-boxes text-purple"></span></a>
											<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}" title="Ver historial del equipo"><span class="fa fa-calendar text-teal"></span></a>
											<a href="{% url 'inventarios:show_qrcode' poliza.folio equipo.id %}" title="Ver código QR"><span class="fa fa-qrcode text-blue-grey"></span></a>
											{% if perms.inventario.detail_equipo %}
												<a href="{% url 'inventarios:detail' poliza.folio equipo.id %}" title="Ver detalle del equipo"><span class="fa fa-eye text-orange"></span></a>
											{% endif %}
											{% if perms.inventario.delete_equipo %}
												{% if equipo.status %}
													<a href="{% url 'inventarios:inhabilitar' poliza.folio equipo.id %}" title="Inhabilitar equipo"><span class="fa fa-ban text-red"></span></a>
												{% else %}
													<a href="{% url 'inventarios:inhabilitar' poliza.folio equipo.id %}" title="Habilitar equipo"><span class="fa fa-check-circle text-green"></span></a>	
												{% endif %}
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if is_paginated %}
							<div class="row d-flex align-items-center">
								<div class="col-lg-6 col-md-12">
										Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
								</div>
								<div class="col-lg-6 col-md-12">
									<ul class="pagination justify-content-end">
										{% if page_obj.has_previous %}
											<li class="page-item">
												<a href="{% url 'inventarios:equipos' poliza.folio %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
											</li>
										{% endif %}
										{% for page in page_obj.paginator.page_range %}
											{% if page == page_obj.number %}
												<li class="page-item active">
													<a href="{% url 'inventarios:equipos' poliza.folio %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% else %}
												<li class="page-item">
													<a href="{% url 'inventarios:equipos' poliza.folio %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% endif %}
										{% endfor %}
										{% if page_obj.has_next %}
											<li class="page-item">
												<a href="{% url 'inventarios:equipos' poliza.folio %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
