{% extends "base.html" %}

{% block contenido %}

    <section class="content-header">
        <div class="row d-flex  align-items-center">
            <h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Registrar impresora</h2>
                <div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
                    <a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
                </div>
        </div>
    </section>

    <section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Modificar impresora << form.instance.modelo >></h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
                        <form action="" method="post" class="col-lg-6 col-md-12 mx-auto">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.marca.label_tag}}
                                {{form.marca}}
                                {% if form.marca.errors %}
									<small class="text-red">
										{{form.marca.errors.0}}
									</small>
								{% endif %}
                            </div>
                            <div class="form-group">
                                {{form.modelo.label_tag}}
                                {{form.modelo}}
                                {% if form.modelo.errors %}
									<small class="text-red">
										{{form.modelo.errors.0}}
									</small>
								{% endif %}
                            </div>
                            <div class="form-group">
                                {{form.ip.label_tag}}
                                {{form.ip}}
                                {% if form.ip.errors %}
									<small class="text-red">
										{{form.ip.errors.0}}
									</small>
								{% endif %}
                            </div>
                            <div class="d-flex mt-3">
                                <input type="submit" value="Actualizar impresora" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}