{% extends "base.html" %}


{% block contenido %}
    <section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-7 col-md-6">Inventarios <span class="fa fa-angle-right"></span> Impresoras </h2>
			<div class="actions col-xl-5 col-md-6 d-flex justify-content-end">
				{% if perms.inventario.add_impresora %}
					<a href="{% url 'inventarios:impresoras_create' poliza.folio %}" class="btn-action btn-green"><span class="fa fa-plus bg-dark-green"></span>Agregar impresora</a>
				{% endif %}
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Lista de impresoras</h4>
                        <h6 class="box-subtitle">Inventario de {{poliza.nombre}}</h6>
                        {% include "messages.html" %}
                    </div>
                    <div class="box-body">
                        <table class="table table-hover table-striped table-responsive-md mt-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>MARCA</th>
                                    <th>MODELO</th>
                                    <th>IP</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for impresora in impresoras %}
                                    <tr>
                                        <td>{{impresora.marca}}</td>
                                        <td>{{impresora.modelo}}</td>
                                        <td>{{impresora.ip}}</td>
                                        <td>
                                            {% if perms.inventario.change_impresora %}
                                                <a href="{% url 'inventarios:impresoras_update' poliza.folio impresora.id %}" title="Editar impresora"><span class="fa fa-pencil-alt text-yellow"></span></a>
                                            {% endif %}
                                            {% if perms.inventario.delete_impresora %}
                                                <a href="{% url 'inventarios:impresoras_delete' poliza.folio impresora.id %}" title="Borrar impresora"><span class="fa fa-window-close text-red"></span></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}