{% extends 'base.html' %}

{% block title %}Inventario por póliza{% endblock %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventarios</h2>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Listado de inventarios</h4>
						<h6 class="box-subtitle">Detalles de inventario por póliza</h6>
					</div>
					<div class="box-body">
						<table class="table table-hover table-striped table-responsive-md mt-0">
							<thead class="thead-dark">
								<tr>
									<th>FOLIO</th>
									<th>RAZÓN SOCIAL</th>
									<th>EQUIPOS EN PÓLIZA</th>
									<th>EQUIPOS EN INVENTARIO</th>
									<th>ACCIONES</th>
								</tr>
							</thead>
							<tbody>
								{% for poliza in polizas %}
									<tr>
										<td>{{ poliza.folio }}</td>
										<td>{{ poliza.nombre }}</td>
										<td>{{ poliza.equipos_en_poliza }}</td>
										{% if poliza.equip_count > poliza.equipos_en_poliza %}
											<td class="bg-warning font-weight-bold">{{ poliza.equip_count|default_if_none:'0'}}</td>
										{% else %}
											<td>{{ poliza.equip_count|default_if_none:'0'}}</td>
										{% endif %}
										<td class="actions">
											<a href="{% url 'inventarios:equipos' poliza.folio %}" title="Ver equipos"><span class="fa fa-desktop text-blue"></span></a>
											<a href="{% url 'inventarios:servidores' poliza.folio %}" title="Ver servidores" ><span class="fa fa-server text-red"></span></a>
											<a href="{% url 'inventarios:impresoras' poliza.folio %}" title="Ver impresoras"><span class="fa fa-print text-blue-grey"></span></a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if polizas.has_other_pages %}
							<div class="row d-flex align-items-center">
								<div class="col-lg-6 col-md-12">
										Mostrando página {{ polizas.number }} de {{ polizas.paginator.num_pages }}
								</div>
								<div class="col-lg-6 col-md-12">
									<ul class="pagination justify-content-end">
										{% if polizas.has_previous %}
											<li class="page-item">
												<a href="{% url 'inventarios:list' %}?page={{ polizas.previous_page_number }}" class="page-link">Anterior</a>
											</li>
										{% endif %}
										{% for page in polizas.paginator.page_range %}
											{% if page == polizas.number %}
												<li class="page-item active">
													<a href="{% url 'inventarios:list' %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% else %}
												<li class="page-item">
													<a href="{% url 'inventarios:list' %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% endif %}
										{% endfor %}
										{% if polizas.has_next %}
											<li class="page-item">
												<a href="{% url 'inventarios:list' %}?page={{ polizas.next_page_number }}" class="page-link">Siguiente</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
