{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Crear nueva licencia{% endblock %}

{% block styles_extras %}
	<link rel="stylesheet" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/default.date.css' %}">
{% endblock styles_extras %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Equipo  <span class="fa fa-angle-right"></span> Añadir licencia</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Registrar licencia</h4>
						<!-- <h6 class="box-subtitle">Añadir licencia al equipo << {{equipo.id}} >></h6> -->
					</div>
					<div class="box-body">
							<form action="" method="post" class="col-lg-6 col-md-12 mx-auto">
								{% csrf_token %}
								<div class="form-group">
									{{form.software.label_tag}}
									{{form.software}}
									{% if form.software.errors %}
										<small class="text-red">
											{{form.software.errors.0}}
										</small>
									{% endif %}
								</div>
								<div class="form-group">
									{{form.codigo.label_tag}}
									{{form.codigo}}
									{% if form.codigo.errors %}
										<small class="text-red">
											{{form.codigo.errors.0}}
										</small>
									{% endif %}
								</div>
								<div class="form-group">
									{{form.fecha_inicio.label_tag}}
									{{form.fecha_inicio}}
									{% if form.fecha_inicio.errors %}
										<small class="text-red">
											{{form.fecha_inicio.errors.0}}
										</small>
									{% endif %}
								</div>
								<div class="form-group">
									{{form.fecha_final.label_tag}}
									{{form.fecha_final}}
									{% if form.fecha_final.errors %}
										<small class="text-red">
											{{form.fecha_final.errors.0}}
										</small>
									{% endif %}
								</div>
								<div class="form-group">
									{{form.numero_licencia.label_tag}}
									{{form.numero_licencia}}
									{% if form.numero_licencia.errors %}
										<small class="text-red">
											{{form.numero_licencia.errors.0}}
										</small>
									{% endif %}
								</div>
								<div class="d-flex mt-3">
									<input type="submit" value="Registrar licencia" class="btn btn-primary">
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}

{% block js_extras %}
	<script src="{% static 'js/picker.js' %}"></script>
	<script src="{% static 'js/picker.date.js' %}"></script>
	<script>
	$('.datepicker').pickadate({
		format: 'dd/mm/yyyy',
		today: 'Hoy',
		clear: 'Limpiar',
		close: 'Cerrar',
		monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sept', 'Oct', 'Dic'],
		selectYears: true,
  		selectMonths: true,
  		weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
	});
	</script>
{% endblock js_extras %}