{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de licencias{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Licencias</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				{% if perms.inventario.add_licencia %}
					<a href="{% url 'inventarios:licencia_create' poliza.folio equipo.id %}" class="btn-action btn-green"><span class="fa fa-plus bg-dark-green"></span>Agregar licencia</a>
				{% endif %}
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Listado de licencias</h4>
						<h6 class="box-subtitle">Licencias instaladas en {{equipo.id}}</h6>
						{% include "messages.html" %}
					</div>
					<div class="box-body">
						<table class="table table-hover table-striped table-responsive-md mt-0">
							<thead class="thead-dark">
								<tr>
									<th>SOFTWARE</th>
									<th>SERIAL KEY</th>
									<th>FECHA DE INICIO</th>
									<th>FECHA DE FIN</th>
									<th>DIAS RESTANTES</th>
									<th># DE LICENCIA</th>
									<th>ACCIONES</th>
								</tr>
							</thead>
							<tbody>
								{% for licencia in licences %}
									<tr>
										<td>{{ licencia.software }}</td>
										<td>{{ licencia.codigo }}</td>
										<td>{{ licencia.fecha_inicio }}</td>
										<td>{{ licencia.fecha_final }}</td>
										<td>{{ licencia.fecha_final|timeuntil}}</td>
										<td>{{ licencia.numero_licencia }}</td>
										<td class="actions">
											{% if perms.inventario.change_licencia %}
												<a href="{% url 'inventarios:licencia_update' poliza.folio equipo.id licencia.id %}" title="Editar licencia"><span class="fa fa-pencil-alt text-yellow"></span></a>
											{% endif %}
											{% if perms.inventario.delete_licencia %}
												<a href="{% url 'inventarios:licencia_delete' poliza.folio equipo.id licencia.id %}" title="Eliminar licencia"><span class="fa fa-window-close text-red"></span></a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if is_paginated %}
							<div class="row d-flex align-items-center">
								<div class="col-lg-6 col-md-12">
										Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
								</div>
								<div class="col-lg-6 col-md-12">
									<ul class="pagination justify-content-end">
										{% if page_obj.has_previous %}
											<li class="page-item">
												<a href="{% url 'inventarios:licencias_list' poliza.folio equipo.id %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
											</li>
										{% endif %}
										{% for page in page_obj.paginator.page_range %}
											{% if page == page_obj.number %}
												<li class="page-item active">
													<a href="{% url 'inventarios:licencias_list' poliza.folio equipo.id %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% else %}
												<li class="page-item">
													<a href="{% url 'inventarios:licencias_list' poliza.folio equipo.id %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% endif %}
										{% endfor %}
										{% if page_obj.has_next %}
											<li class="page-item">
												<a href="{% url 'inventarios:licencias_list' poliza.folio equipo.id %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
