{% extends 'base.html' %}

{% block title %}Confirmación de eliminación{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Eliminar licencia</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<h4 class="box-title">{{object.software}} - Serial Key: {{object.codigo}}</h4>
							<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
						</div>
						<div class="box-body">
								<p>¿Esta seguro que desea eliminar dicha licencia?</p>
								<form action="" method="POST">
									{% csrf_token %}
									<input type="submit" value="Aceptar" class="btn btn-primary">
									<a href="#" onclick="window.history.back()" class="btn btn-danger">Cancelar</a>
								</form>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}