{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de equipos{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-7 col-md-6">Inventarios <span class="fa fa-angle-right"></span> Servidores </h2>
			<div class="actions col-xl-5 col-md-6 d-flex justify-content-end">
				{% if perms.inventario.add_servidor %}
					<a href="{% url 'inventarios:servidores_create' poliza.folio %}" class="btn-action btn-green"><span class="fa fa-plus bg-dark-green"></span>Agregar servidor</a>
				{% endif %}
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Lista de servidores</h4>
						<h6 class="box-subtitle">Inventario de {{poliza.nombre}}</h6>
						{% include "messages.html" %}
					</div>
					<div class="box-body">
						<table class="table table-hover table-striped table-responsive-md mt-0">
							<thead class="thead-dark">
								<tr>
									<th>NOMBRE</th>
									<th>MODELO</th>
									<th>PROCESADOR</th>
									<th>SISTEMA OPERATIVO</th>
									<th>RAM</th>
									<th>IP</th>
									<th>ACCIONES</th>
								</tr>
							</thead>
							<tbody>
								{% for servidor in servidores %}
									<tr>
										<td>{{ servidor.nombre }}</td>
										<td>{{ servidor.modelo }}</td>
										<td>{{ servidor.procesador }}</td>
										<td>{{ servidor.sistema_operativo }}</td>
										<td>{{ servidor.ram }}</td>
										<td>{{ servidor.ip }}</td>
										<td class="actions">
											{% if perms.inventario.change_servidor %}
												<a href="{% url 'inventarios:servidores_update' poliza.folio servidor.id %}" title="Editar equipo"><span class="fa fa-pencil-alt text-yellow"></span></a>	
											{% endif %}
											{% if perms.inventario.detail_servidor %}
												<a href="{% url 'inventarios:servidores_detail' poliza.folio servidor.id %}" title="Ver detalle del servidor"><span class="fa fa-eye text-blue"></span></a>
											{% endif %}
											{% if perms.inventario.delete_servidor %}
												<a href="{% url 'inventarios:servidores_delete' poliza.folio servidor.id %}" title="Eliminar servidor"><span class="fa fa-ban text-red"></span></a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
