{% extends 'base.html' %}

{% load static %}

{% block title %}Crear nuevo equipo{% endblock %}

{% block styles_extras %}
	<link rel="stylesheet" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/default.date.css' %}">
{% endblock styles_extras %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Actualizar servidor</h2>
				<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
				</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Modificar servidor << form.instance.nombre >></h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.nombre.label_tag}}
										{{form.nombre}}
										{% if form.nombre.errors %}
											<small class="text-red">
												{{form.nombre.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.modelo.label_tag}}
										{{form.modelo}}
										{% if form.modelo.errors %}
											<small class="text-red">
												{{form.modelo.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.sistema_operativo.label_tag}}
										{{form.sistema_operativo}}
										{% if form.sistema_operativo.errors %}
											<small class="text-red">
												{{form.sistema_operativo.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.procesador.label_tag}}
										{{form.procesador}}
										{% if form.procesador.errors %}
											<small class="text-red">
												{{form.procesador.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.disco_duro.label_tag}}
										{{form.disco_duro}}
										{% if form.disco_duro.errors %}
											<small class="text-red">
												{{form.disco_duro.errors.0}}
											</small>
										{% endif %}
									</div>
									
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.ram.label_tag}}
										{{form.ram}}
										{% if form.ram.errors %}
											<small class="text-red">
												{{form.ram.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.usuario.label_tag}}
										{{form.usuario}}
										{% if form.usuario.errors %}
											<small class="text-red">
												{{form.usuario.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.password.label_tag}}
										{{form.password}}
										{% if form.password.errors %}
											<small class="text-red">
												{{form.password.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.ip.label_tag}}
										{{form.ip}}
										{% if form.ip.errors %}
											<small class="text-red">
												{{form.ip.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
											{{form.puerto.label_tag}}
											{{form.puerto}}
											{% if form.puerto.errors %}
												<small class="text-red">
													{{form.puerto.errors.0}}
												</small>
											{% endif %}
										</div>
									<div class="d-flex mt-3">
										<input type="submit" value="Actualizar servidor" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}

{% block js_extras %}
	<script src="{% static 'js/picker.js' %}"></script>
	<script src="{% static 'js/picker.date.js' %}"></script>
	<script>
	$('.datepicker').pickadate({
		format: 'dd/mm/yyyy',
		today: 'Hoy',
		clear: 'Limpiar',
		close: 'Cerrar',
		monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sept', 'Oct', 'Dic'],
		selectYears: true,
  		selectMonths: true,
  		weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
	});
	</script>
{% endblock js_extras %}