{% extends 'base.html' %}

{% block title %}Detalle del equipo {{equipo.id}}{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Servidor <span class="fa fa-angle-right"></span> Detalle</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Detalle del servidor</h4>
						<h6 class="box-subtitle">{{equipo.id}}</h6>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-font"></span> NOMBRE:</div>
									<div class="detail-content">{{servidor.nombre}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="far fa-registered"></span> MODELO:</div>
									<div class="detail-content">{{servidor.modelo}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-compact-disc"></span> SISTEMA OPERATIVO:</div>
									<div class="detail-content">{{servidor.sistema_operativo}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-microchip"></span> PROCESADOR:</div>
									<div class="detail-content">{{servidor.procesador}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-hdd"></span> DISCO DURO:</div>
									<div class="detail-content">{{servidor.disco_duro}}</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-memory"></span> RAM:</div>
									<div class="detail-content">{{servidor.ram}} GB</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-user"></span> USUARIO:</div>
									<div class="detail-content">{{servidor.usuario}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-key"></span> CONTRASEÑA:</div>
									<div class="detail-content">{{servidor.password}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-link"></span> IP:</div>
									<div class="detail-content">{{servidor.ip}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fas fa-sign-in-alt"></span> PUERTO:</div>
									<div class="detail-content">{{servidor.puerto}}</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
	
	