{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Crear nuevo software{% endblock %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Equipo <span class="fa fa-angle-right"></span> Modificar software</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Editar software << {{form.instance.nombre}} >></h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="post" class="col-lg-6 col-md-12 mx-auto">
							{% csrf_token %}
							<div class="form-group">
								{{form.nombre.label_tag}}
								{{form.nombre}}
								{% if form.nombre.errors %}
									<small class="text-red">
										{{form.nombre.errors.0}}
									</small>
								{% endif %}
							</div>
							<div class="d-flex mt-3">
								<input type="submit" value="Registrar software" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}