{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de Tickets{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inventario <span class="fa fa-angle-right"></span> Equipo <span class="fa fa-angle-right"></span> Tickets</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span> Regresar</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Historial de tickets</h4>
						<h6 class="box-subtitle">Tickets del equipo << {{equipo.id}} >></h6>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-10 col-md-12">
								<table class="table table-hover table-striped table-responsive-sm mt-0">
									<thead class="thead-dark">
										<tr>
											<th>#</th>
											<th>REPORTE</th>
											<th>FECHA DE REGISTRO</th>
											<th>STATUS</th>
											<th>ATENDIDO POR</th>
											<th>FECHA DE ATENCIÓN</th>
											<th>ACCIONES</th>
										</tr>
									</thead>
									<tbody>
										{% for ticket in tickets %}
											<tr>
												<td>{{ticket.id}}</td>
												<td>{{ ticket.reporte|safe|truncatechars:55 }}</td>
												<td>{{ ticket.created_at|date}}</td>
												<td>{{ ticket.get_status_display }}</td>
												<td>{{ ticket.atendido_por.first_name}}&nbsp;{{ticket.atendido_por.last_name}}</td>
												<td>{{ticket.fecha_atencion}}</td>
												<td>
													<a href="{% url 'tickets:detail' ticket.id %}" title="Ver detalles"><span class="fa fa-eye text-pink"></span></a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% if is_paginated %}
									<div class="row d-flex align-items-center">
										<div class="col-lg-6 col-md-12">
												Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
										</div>
										<div class="col-lg-6 col-md-12">
											<ul class="pagination justify-content-end">
												{% if page_obj.has_previous %}
													<li class="page-item">
														<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
													</li>
												{% endif %}
												{% for page in page_obj.paginator.page_range %}
													{% if page == page_obj.number %}
														<li class="page-item active">
															<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?page={{ page }}" class="page-link">{{page}}</a>
														</li>
													{% else %}
														<li class="page-item">
															<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?page={{ page }}" class="page-link">{{page}}</a>
														</li>
													{% endif %}
												{% endfor %}
												{% if page_obj.has_next %}
													<li class="page-item">
														<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="col-lg-2 col-sm-12">
								<div class="filter">
									<span>Por fecha de creación</span>
									<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?">Cualquier fecha</a>
									<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?created_at__gte={{dates.now.0|date:'Y-m-d'}}&created_at__lt={{dates.now.1|date:'Y-m-d'}}">Hoy</a>
									<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?created_at__gte={{dates.last_7.0|date:'Y-m-d'}}&created_at__lt={{dates.last_7.1|date:'Y-m-d'}}">Últimos 7 días</a>
									<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?created_at__gte={{dates.this_month.0|date:'Y-m-d'}}&created_at__lt={{dates.this_month.1|date:'Y-m-d'}}">Este mes</a>
									<a href="{% url 'inventarios:tickets_list' poliza.folio equipo.id %}?created_at__gte={{dates.this_year.0|date:'Y-m-d'}}&created_at__lt={{dates.this_year.1|date:'Y-m-d'}}">Este año</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

