{% load static %}

<img src="http://reisa.mx/resources/assets/img/logo.png" alt="Reisa" width="100px">&nbsp;Reisa Tecnología

<p>
	<strong>Poliza:&nbsp;</strong>{{poliza.nombre}}
</p>

<p>
	<strong>Equipo:&nbsp;</strong>{{equipo.id}}
</p>

<p>
	<strong>Dirección:&nbsp;</strong>{{poliza.direccion}}
</p>

<p>
	<strong>Fecha programada de atención:&nbsp;</strong>{{ticket.fecha_programada}}
</p>

<p>
	<strong>Tipo de atención:&nbsp;</strong>{{ticket.get_tipo_de_atencion_display}}
</p>

<p>
	<strong>Reporte:</strong>
	<div>{{ticket.reporte|safe}}</div>
</p>

<p>

	<strong><a href="{{ domain }}{% url 'tickets:detail' ticket.id %}">Detalle del ticket</a></strong>
</p>



