{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Agregar pólizas{% endblock %}

{% block styles_extras %}
	<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
{% endblock styles_extras %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6"><a href="{% url 'polizas:list' %}" class="text-secondary">Pólizas</a> <span class="fa fa-angle-right"></span> Carga Masiva</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Crear pólizas</h4>
						<h6 class="box-subtitle">Carga masiva de pólizas desde un archivo JSON</h6>
						{% include "messages.html" %}
					</div>
					<div class="box-body row d-flex justify-content-center">
						<form action="" method="POST" class="col-4" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row col-12">
								<div class="custom-file">
									<input type="file" name="json" class="custom-file-input" required accept="application/json" lang="es">
									<label for="csv" class="custom-file-label">Archivo JSON:</label>
								</div>
							</div>
							<div class="row col-12 mt-3 d-flex justify-content-center">
								<input type="submit" class="btn btn-primary" value="Guardar Pólizas">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}

{% block js_extras %}
	<script src="{% static 'js/sweetalert.min.js' %}"></script>
	{% include "messages.html" %}
{% endblock js_extras %}