{% extends 'base.html' %}

{% block title %}Confirmación de borrado{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6"><a href="{% url 'polizas:list' %}" class="text-secondary">Pólizas</a> <span class="fa fa-angle-right"></span> Eliminar contacto</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<h4 class="box-title">{{object.nombre}}&nbsp;{{object.apellido_paterno}}&nbsp;{{object.apellido_materno}}</h4>
							<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
						</div>
						<div class="box-body">
							<p>¿Esta seguro que desea eliminar el contacto?</p>
							<form action="" method="POST">
								{% csrf_token %}
								<input type="submit" value="Aceptar" class="btn btn-primary">
								<a href="{% url 'polizas:contacts'  object.folio_poliza.folio %}" class="btn btn-danger">Cancelar</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}