{% extends 'base.html' %}

{% block title %}Crear nuevo contacto{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6"><a href="{% url 'polizas:list' %}" class="text-secondary">Pólizas</a> <span class="fa fa-angle-right"></span> Crear Contacto</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Crear nuevo contacto</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="POST">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.nombre.label_tag}}
										{{form.nombre}}
										{% if form.nombre.errors %}
											<small class="text-red">
												{{form.nombre.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.apellido_paterno.label_tag}}
										{{form.apellido_paterno}}
										{% if form.apellido_paterno.errors %}
											<small class="text-red">
												{{form.apellido_paterno.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.apellido_materno.label_tag}}
										{{form.apellido_materno}}
										{% if form.apellido_materno.errors %}
											<small class="text-red">
												{{form.apellido_materno.errors.0}}
											</small>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.telefono.label_tag}}
										{{form.telefono}}
										{% if form.telefono.errors %}
											<small class="text-red">
												{{form.telefono.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.email.label_tag}}
										{{form.email}}
										{% if form.email.errors %}
											<small class="text-red">
												{{form.email.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="d-flex mt-3">
										<input type="submit" value="Registrar Contacto" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock contenido %}