{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de contactos{% endblock %}


{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6"><a href="{% url 'polizas:list' %}" class="text-secondary">Pólizas</a> <span class="fa fa-angle-right"></span> Contactos</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				{% if perms.polizas.add_contacto %}
					<a href="{% url 'polizas:contact_crate' poliza.folio %}" class="btn-action btn-green"><span class="fa fa-plus bg-dark-green"></span>Agregar contacto</a>
				{% endif %}
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Lista de contactos</h4>
						<h6 class="box-subtitle">Personas de referencia en {{poliza.nombre}}</h6>
						{% include "messages.html" %}
					</div>
					<div class="box-body">
						<table class="table table-hover table-striped table-responsive-md mt-0">
							<thead class="thead-dark">
								<tr>
									<th>Nombre</th>
									<th>Télefono</th>
									<th>Email</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for contacto in contact_list %}
									<tr>
										<td>{{contacto.nombre}}&nbsp;{{contacto.apellido_materno}}&nbsp;{{contacto.apellido_paterno}}</td>
										<td>{{contacto.telefono}}</td>
										<td>{{contacto.email}}</td>
										<td>
											{% if perms.polizas.change_contacto %}
												<a href="{% url 'polizas:contacto_update' poliza.folio contacto.id %}" title="Editar contacto"><span class="fa fa-pencil-alt text-yellow"></span></a>
											{% endif %}
											{% if perms.polizas.delete_contacto %}
												<a href="{% url 'polizas:contacto_delete' poliza.folio contacto.id %}" title="Eliminar contacto"><span class="fa fa-window-close text-red"></span></a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if is_paginated %}
							<div class="row d-flex align-items-center">
								<div class="col-lg-6 col-md-12">
										Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
								</div>
								<div class="col-lg-6 col-md-12">
									<ul class="pagination justify-content-end">
										{% if page_obj.has_previous %}
											<li class="page-item">
												<a href="{% url 'polizas:contacts' poliza.folio %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
											</li>
										{% endif %}
										{% for page in page_obj.paginator.page_range %}
											{% if page == page_obj.number %}
												<li class="page-item active">
													<a href="{% url 'polizas:contacts' poliza.folio %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% else %}
												<li class="page-item">
													<a href="{% url 'polizas:contacts' poliza.folio %}?page={{ page }}" class="page-link">{{page}}</a>
												</li>
											{% endif %}
										{% endfor %}
										{% if page_obj.has_next %}
											<li class="page-item">
												<a href="{% url 'polizas:contacts' poliza.folio %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}