{% extends "base.html" %}

{% block title %}Estadisticas de la póliza{% endblock title %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6"><a href="{% url 'polizas:list' %}" class="text-secondary">Pólizas</a> <span class="fa fa-angle-right"></span> Estadísticas</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Gráficas de {{poliza.nombre}}</h4>
						<h6 class="box-subtitle">Movimientos de inventario por año y tickets por mes</h6>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div id="equipos_by_year" class="graph"></div>
							</div>
							<div class="col-lg-6 col-md-12">
								{% if graph %}
									<div id="tickets_by_month" class="graph"></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}

{% block js_extras %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
	        var dataTickets = google.visualization.arrayToDataTable([
	          	['Mes', 'Tickets'],
		      	{% for d in graph %}
					['{{d.month|date:'F Y'}}', {{d.count}}],
				{% endfor %}
	        ]);

	       var dataEquipos = google.visualization.arrayToDataTable([
	       		['Status', 'Equipos', {role: "style"}],
	       		['Activos', {{graph2.0.count|default:0}}, "#1abc9c"],
	       		['Inactivos', {{graph2.1.count|default:0}}, "#e74c3c"]

	       	]);

	        var optionsTickets = {
	          	title: 'Tickets de {{poliza.nombre}} por mes',
	          	curveType: 'none',
	          	legend: { position: 'bottom' },
	          	titleTextStyle: {
	          		fontSize: 18,
	          		fontName: 'Lato'
	          	}
	        };

	        var optionsEquipos = {
	          	title: 'Equipos dados de alta/baja este año',
	          	curveType: 'none',
	          	legend: { position: 'none' },
	          	titleTextStyle: {
	          		fontSize: 18,
	          		fontName: 'Lato'
	          	}
	        };
	        {% if graph %}
	        	var tickets = new google.visualization.LineChart(document.getElementById('tickets_by_month'));
	        {% endif %}
	        var equipos = new google.visualization.BarChart(document.getElementById("equipos_by_year"));
	        {% if graph %}
	        	tickets.draw(dataTickets, optionsTickets);
	        	
	        {% endif %}
	        equipos.draw(dataEquipos, optionsEquipos)
	      }
	</script>
{% endblock js_extras %}