{% extends 'base.html' %}

{% load static %}

{% block title %}Listado de pólizas{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Pólizas</h2>
			{% if perms.polizas.add_poliza %}
				<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
					<a href="{% url 'polizas:create' %}" class="btn-action btn-green"><span class="fa fa-plus"></span>Agregar póliza</a>
					<a href="{% url 'polizas:create_multiple' %}" class="btn-action btn-yellow"><span class="fa fa-plus"></span>Agregar varias</a>
				</div>
			{% endif %}
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Listado de pólizas</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
						{% include "messages.html" %}
					</div>
					<div class="box-body">
						<table class="table table-hover table-striped table-responsive-md mt-0">
							<thead class="thead-dark">
								<tr>
									<th>FOLIO</th>
									<th>NOMBRE</th>
									<th>DIRECCIÓN</th>
									<th>EQUIPOS EN PÓLIZA</th>
									<th>ÚLTIMO SERVICIO</th>
									<th>STATUS</th>
									<th class="sorttable_nosort">ACCIONES</th>
								</tr>
							</thead>
							<tbody>
								{% for poliza in polizas %}
									<tr>
										<td>{{ poliza.folio }}</td>
										<td>{{ poliza.nombre }}</td>
										<td width="400px">{{ poliza.direccion }}</td>
										<td>{{ poliza.equipos_en_poliza}}</td>
										<td>{{ poliza.ultimo_servicio|date }}</td>
										{% if poliza.status %}
											<td>
												<label class="label label-success">Activa</label>
											</td>
										{% else %}
											<td>
												<label class="label label-danger">Inactiva</label>
											</td>
										{% endif %}
										<td>
											{% if perms.polizas.change_poliza %}
												<a href="{% url 'polizas:update' poliza.folio %}" title="Editar póliza"><span class="fa fa-pencil-alt text-yellow"></span></a>
											{% endif %}
											<a href="{% url 'polizas:contacts' poliza.folio %}" title="Ver contactos"><span class="fa fa-address-book text-pink"></span></a>
											<a href="{% url 'polizas:statistics' poliza.folio %}" title="Ver estadisticas"><span class="fa fa-chart-line text-purple"></span></a>
											<a href="{% url 'polizas:detail' poliza.folio %}" title="Ver detalles"><span class="fa fa-eye text-blue"></span></a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if is_paginated %}
						<div class="row d-flex align-items-center">
							<div class="col-lg-6 col-md-12">
									Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
							</div>
							<div class="col-lg-6 col-md-12">
								<ul class="pagination justify-content-end">
									{% if page_obj.has_previous %}
										<li class="page-item">
											<a href="{% url 'polizas:list' %}?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
										</li>
									{% endif %}
									{% for page in page_obj.paginator.page_range %}
										{% if page == page_obj.number %}
											<li class="page-item active">
												<a href="{% url 'polizas:list' %}?page={{ page }}" class="page-link">{{page}}</a>
											</li>
										{% else %}
											<li class="page-item">
												<a href="{% url 'polizas:list' %}?page={{ page }}" class="page-link">{{page}}</a>
											</li>
										{% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
										<li class="page-item">
											<a href="{% url 'polizas:list' %}?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
										</li>
									{% endif %}
								</ul>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

