{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Agregar nueva póliza{% endblock %}

{% block styles_extras %}
	<link rel="stylesheet" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/default.date.css' %}">
{% endblock styles_extras %}

{% block contenido %}
	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Pólizas <span class="fa fa-angle-right"></span> Crear</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Crear nueva póliza</h4>
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<form action="" method="POST">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.nombre.label_tag}}
										{{form.nombre}}
										{% if form.nombre.errors %}
											<small class="text-red">
												{{form.nombre.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.direccion.label_tag}}
										{{form.direccion}}
										{% if form.direccion.errors %}
											<small class="text-red">
												{{form.direccion.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.equipos_en_poliza.label_tag}}
										{{form.equipos_en_poliza}}
										{% if form.equipos_en_poliza.errors %}
											<small class="text-red">
												{{form.equipos_en_poliza.errors.0}}
											</small>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group">
										{{form.fecha_alta.label_tag}}
										{{form.fecha_alta}}
										{% if form.fecha_alta.errors %}
											<small class="text-red">
												{{form.fecha_alta.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.ultima_revision_poliza.label_tag}}
										{{form.ultima_revision_poliza}}
										{% if form.ultima_revision_poliza.errors %}
											<small class="text-red">
												{{form.ultima_revision_poliza.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="form-group">
										{{form.ultimo_servicio.label_tag}}
										{{form.ultimo_servicio}}
										{% if form.ultimo_servicio.errors %}
											<small class="text-red">
												{{form.ultimo_servicio.errors.0}}
											</small>
										{% endif %}
									</div>
									<div class="custom-control custom-checkbox">
										{{form.status}}
										<label for="id_status" class="custom-control-label">Status</label>
									</div>
									<div class="d-flex mt-3">
										<input type="submit" value="Registrar Póliza" class="btn btn-primary">
									</div>
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "errors.html" %}
	
{% endblock contenido %}

{% block js_extras %}
	<script src="{% static 'js/picker.js' %}"></script>
	<script src="{% static 'js/picker.date.js' %}"></script>
	<script>
	$('.datepicker').pickadate({
		format: 'dd/mm/yyyy',
		today: 'Hoy',
		clear: 'Limpiar',
		close: 'Cerrar',
		monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sept', 'Oct', 'Dic'],
		selectYears: true,
  		selectMonths: true,
  		weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
	});
	</script>
{% endblock js_extras %}