{% extends 'base.html' %}

{% block title %}Detalle de la póliza{% endblock %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6"><a href="{% url 'polizas:list' %}" class="text-secondary">Pólizas</a> <span class="fa fa-angle-right"></span> Detalles</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="#" onclick="window.history.back()" class="btn-action btn-red"><span class="fa fa-angle-double-left"></span>Regresar</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">{{poliza.nombre}}</h4>
						<h6 class="box-subtitle">Detalles de la póliza</h6>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-location-arrow"></span> Dirección:</div>
									<div class="detail-content">{{poliza.direccion}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-phone"></span> Télefono:</div>
									<div class="detail-content">{{poliza.telefono}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-file"></span> Equipos en Poliza:</div>
									<div class="detail-content">{{poliza.equipos_en_poliza}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-list-alt"></span> Equipos en inventario:</div>
									<div class="detail-content">{{poliza.equip_count}}</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-calendar-plus"></span> Fecha de registro:</div>
									<div class="detail-content">{{poliza.fecha_alta}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-calendar-check"></span> Última revisión de la poliza:</div>
									<div class="detail-content">{{poliza.ultima_revision_poliza}}</div>
								</div>
								<div class="detail-item">
									<div class="detail-name"><span class="fa fa-calendar"></span> Último servicio anual:</div>
									<div class="detail-content">{{poliza.ultimo_servicio}}</div>
								</div>
							</div>
							<div class="col-12 d-flex justify-content-around">
								<a href="{% url 'inventarios:equipos' poliza.folio %}" class="btn-action btn-teal">Ver equipos</a>
								<a href="{% url 'polizas:contacts' poliza.folio %}" class="btn-action btn-yellow">Ver contactos</a>
								<a href="{% url 'polizas:statistics' poliza.folio %}" class="btn-action btn-purple">Ver estadisticas</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}
	
	