{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta content="text/html" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Home | Reisa soporte{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'img/ico.ico' %}" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="{% url 'home' %}" class="navbar-brand">
			<span class="fa fa-cogs"></span>&nbsp;
			Soporte Reisa
		</a>
		</div>
	</nav>
	<section>
		{% block content %}{% endblock content %}
	</section>
</body>
</html>