{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta content="text/html" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Reisa | Login</title>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login">
	<div id="login-background"></div>
	<div id="login-wrapper">
		<div class="header">
			<img src="{% static 'img/logo.png' %}" alt="Reisa">
			<h1>Reisa Tecnología</h1>
		</div>

		<form action="" method="POST">
			{% csrf_token %}
			<h2>Accede para iniciar tu sesión</h2>
			<div class="form-input">
				<input type="text" placeholder="Usuario" required="true" autocomplete="off" name="username" maxlength="254" class="form-control">
				<span class="fa fa-user"></span>
			</div>
			<div class="form-input">
				<input type="password" placeholder="Contraseña" required="true" name="password" class="form-control">
				<span class="fa fa-key"></span>
			</div>
			{% if form.errors %}
				<small class="text-red error">Tu nombre de usuario y/o password son incorrectos</small>
			{% endif %}
			<div class="fog-psw">
				<span class="fa fa-lock"></span>
				<a href="{% url 'usuarios:password_reset' %}">¿Olvidaste tu contraseña?</a>
				
			</div>
			<button type="submit">Ingresar</button>
		</form>
	</div>
</body>
</html>