{% extends 'registration/base.html' %}

{% block title %}Restablecimiento completo{% endblock title %}

{% block content %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Restablecimiento exitoso</h2>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<!-- <h4 class="box-title">Crear nueva póliza</h4> -->
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<p>
							Tu contraseña ha sido actualizada. Ahora puedes <a href="{% url 'usuarios:login' %}" class="text-blue">ingresar al sistema</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}