{% extends 'registration/base.html' %}

{% block title %}Restablecer Contraseña{% endblock title %}

{% block content %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Login <span class="fa fa-angle-right"></span> Cambio de contraseña</h2>
			<div class="actions col-xl-4 col-md-6 d-flex justify-content-end">
				<a href="{% url 'usuarios:login' %}" class="btn-action btn-green"><span class="fa fa-user bg-dark-green"></span>Iniciar sesión</a>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<!-- <h4 class="box-title">Crear nueva póliza</h4> -->
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<p>
							Por favor especifica tu dirección de correo eléctronico para recibir instrucciones y poder restablecer tu contraseña.
						</p>
						<form action="" method="POST" id="email-pass" class="col-lg-6 col-md-12 mx-auto">
							{% csrf_token %}
							<div class="form-group">
								{{form.email.label_tag}}
								<input type="email" placeholder="E-mail" required="true" name="email" maxlength="254" class="form-control">
								{% if form.email.errors %}
									<small class="text-red">
										{{form.email.errors.0}}
									</small>
								{% endif %}
							</div>
							<input type="submit" value="Enviar" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}