{% extends 'registration/base.html' %}

{% block title %}Restablecer Contraseña{% endblock title %}

{% block content %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Login <span class="fa fa-angle-right"></span> Envio de email</h2>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<!-- <h4 class="box-title">Crear nueva póliza</h4> -->
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						<h2>Correo enviado exitosamente</h2>
						<p>Hemos enviado un correo eléctronico con las instrucciones para restablecer tu contraseña a la dirección especificada por usted.</p>
						<p>Debería recibirlo en un corto periodo de tiempo.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}