{% extends 'registration/base.html' %}

{% block title %}Establecer nueva contraseña{% endblock title %}

{% block content %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Establecer nueva contraseña</h2>
		</div>
	</section>
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<!-- <h4 class="box-title">Crear nueva póliza</h4> -->
						<!-- <h6 class="box-subtitle">Lista de pólizas registradas en el sistema</h6> -->
					</div>
					<div class="box-body">
						{% if validlink %}
							<h2>Establecer nueva contraseña</h2>
							<p>Por favor ingresa tu nueva contraseña 2 veces.</p>
							<p>Verifica que en ambos casos este escrita correctamente.</p>
							<form action="" method="POST" id="password_confirm" class="mx-auto col-lg-6 col-md-12">
								{% csrf_token %}
								<div class="form-group">
									<label for="new_password1">Nueva Contraseña</label>
									<input type="password" placeholder="Nueva contraseña" required name="new_password1">
								</div>
								<div class="form-group">
									<label for="new_password2">Repetir nueva Contraseña</label>
									<input type="password" placeholder="Nueva contraseña" required name="new_password2">
								</div>
								<div class="d-flex mt-3">
									<input type="submit" value="Cambiar contraseña" class="btn btn-primary">
								</div>
							</form>
						{% else %}
							<h2>Restablecimiento de contraseña incorrecto</h2>
							<p>El enlace para restablecer la contraseña es incorrecto o es posible que ya ha sido usado.</p>
							<p>Por favor solicite un restablecimeinto nuevamente.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>


	{% if validlink %}
		<h2>Establecer nueva contraseña</h2>
		<p>Por favor ingresa tu nueva contraseña 2 veces.</p>
		<p>Verifica que en ambos casos este escrita correctamente.</p>
		<form action="" method="POST" id="password_confirm">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
			<input type="password" placeholder="Nueva contraseña" required name="new_password1">
			<input type="password" placeholder="Confirmar contraseña" required name="new_password2">
			<input type="submit" value="Cambiar contraseña">
		</form>
	{% else %}
		<h2>Restablecimiento de contraseña incorrecto</h2>
		<p>El enlace para restablecer la contraseña es incorrecto o es posible que ya ha sido usado.</p>
		<p>Por favor solicite un restablecimeinto nuevamente.</p>
	{% endif %}

{% endblock content %}