{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Error: 403 Prohibido</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/style_error_pages.css' %}">
</head>
<body>
	<h1>Prohibido</h1>

	<div class="code">
		<span>4</span>
		<span><img src="{% static 'img/candado.png' %}" alt="candado" height="250px"></span>
		<span>3</span>
	</div>
	<p>Disculpa, tu cuenta tiene prohibido el acceso a esta area del sistema.</p>
	<button onclick=" window.history.back()">Regresar&nbsp;&nbsp;<span class="fa fa-angle-right"></span></button>
</body>
</html>