{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta content="text/html" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}Home | Reisa soporte{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'img/ico.ico' %}" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	{% block styles_extras %}{% endblock styles_extras %}
</head>
<body>
	<a href="{% url 'tickets:create_ticket' %}" class="float-button-ticket" data-toggle="tooltip" data-placement="top" title="Añadir Ticket"><span class="fa fa-plus"></span></a>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="{% url 'home' %}" class="navbar-brand">
			<span class="fa fa-cogs"></span>&nbsp;
			Soporte Reisa
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			{% if request.user.is_designated_person %}
				{% include "menu_encargado.html" %}
			{% else %}
				{% include "menu_admin.html" %}
			{% endif %}
			<form class="form-inline my-2 my-lg-0 mr-md-3 d-flex justify-content-around align-items-center" action="{% url 'tickets:search' %}" method="GET">
				<input class="form-control mr-sm-2"  style="width: 80%;" name="ticket" type="search" placeholder="Buscar ticket..." autocomplete="off">
				<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</nav>

	<div class="content-wrapper">
		{% block contenido %}{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
			$('.alert').alert();
		})
	</script>
	{% block js_extras %}{% endblock %}
</body>
</html>

