{% if form.errors %}
	<div class="error-container">
		{% for field in form %}
			{% if field.errors %}
				<p class="error bg-red"><strong>{{field.name}}</strong> - {{field.errors.0}}</p>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}