{% extends 'base.html' %}

{% load static %}

{% block contenido %}

	<section class="content-header">
		<div class="row d-flex  align-items-center">
			<h2 class="col-xl-8 col-md-6">Inicio</h2>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">Resumen general</h4>
						<h6 class="box-subtitle">Graficas del status del sistema</h6>
					</div>
					<div class="box-body">
						<div class="row d-flex justify-content-around">
							{% for stat in status %}
								{% if  stat.status == '1' %}
								<div class="col-md-6 col-lg-2 col-xlg-2">
									<div class="box box-inverse box-red">
										<div class="box-body text-center">
											<h1 class="font-light text-white">{{ stat.c }}</h1>
											<h6 class="text-white mb-10">Tickets sin atender</h6>
										</div>
									</div>
								</div>
								{% elif  stat.status == '2' %}
								<div class="col-md-6 col-lg-2 col-xlg-2">
									<div class="box box-inverse box-orange">
										<div class="box-body text-center">
											<h1 class="font-light text-white">{{ stat.c }}</h1>
											<h6 class="text-white mb-10">Tickets asignados</h6>
										</div>
									</div>
								</div>
								{% elif  stat.status == '3' %}
								<div class="col-md-6 col-lg-2 col-xlg-2">
									<div class="box box-inverse box-yellow">
										<div class="box-body text-center">
											<h1 class="font-light text-white">{{ stat.c }}</h1>
											<h6 class="text-white mb-10">Tickets atendidos</h6>
										</div>
									</div>
								</div>
								{% elif  stat.status == '4' %}
								<div class="col-md-6 col-lg-2 col-xlg-2">
									<div class="box box-inverse box-blue">
										<div class="box-body text-center">
											<h1 class="font-light text-white">{{ stat.c }}</h1>
											<h6 class="text-white mb-10">Tickets sin cobro</h6>
										</div>
									</div>
								</div>
								{% else %}
								<div class="col-md-6 col-lg-2 col-xlg-2">
									<div class="box box-inverse box-green">
										<div class="box-body text-center">
											<h1 class="font-light text-white">{{ stat.c }}</h1>
											<h6 class="text-white mb-10">Tickets completados</h6>
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="row">
							{% if graph2 %}
								<div id="tickets_by_month" class="col-lg-6 col-md-12"></div>
								<div id="tickets_by_poliza" class="col-lg-6 col-md-12"></div>
							{% else %}
							<div id="tickets_by_month" class="col-12"></div>
							{% endif %}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido%}

{% block js_extras %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
	        var dataTickets = google.visualization.arrayToDataTable([
	          	['Mes', 'Tickets'],
		      	{% for d in graph %}
					['{{d.month|date:'F Y'}}', {{d.c}}],
				{% endfor %}
	        ]);
	        {% if graph2 %}
	        	var dataPolizas = google.visualization.arrayToDataTable([
	        		['Poliza', 'Tickets'],
		        	{% for x in graph2 %}
		        		['{{x.nombre}}', {{x.ticket_count|default:0}}],
		        	{% endfor %}
	        	]);
	        {% endif %}
	        

	        var optionsTickets = {
	          	title: 'Tickets totales por mes',
	          	curveType: 'none',
				legend: { position: 'bottom' },
				height: 450,
	          	titleTextStyle: {
	          		fontSize: 18,
	          		fontName: 'Lato'
	          	}
	        };

	        var optionsPolizas = {
	        	title: 'Las 10 pólizas con más tickets este mes',
	        	curveType: 'none',
	        	legend: {position: 'bottom'},
	        	height: 450,
	        	titleTextStyle: {
	        		fontSize: 18,
	        		fontName: 'Lato'
	        	}
	        }

	        var tickets = new google.visualization.LineChart(document.getElementById('tickets_by_month'));
	        {% if graph2 %}
	        	var polizas = new google.visualization.BarChart(document.getElementById('tickets_by_poliza'));
	        {% endif %}

	        tickets.draw(dataTickets, optionsTickets);
	        {% if graph2 %}
	        	polizas.draw(dataPolizas, optionsPolizas);	        	
	        {% endif %}
	      }
	</script>
{% endblock js_extras %}