<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	<li class="nav-item">
		<a href="{% url 'polizas:detail' request.user.poliza.folio %}" class="nav-link"><span class="fa fa-file mr-1"></span>Mi Póliza</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'inventarios:equipos' request.user.poliza.folio %}" class="nav-link"><span class="fa fa-list-alt mr-1"></span>Inventario</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'tickets:list' %}" class="nav-link"><span class="fa fa-ticket-alt mr-1"></span>Tickets</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'usuarios:logout' %}" class="nav-link text-danger">
			<span class="fa fa-sign-out-alt"></span>
			Cerrar Sesión
		</a>
	</li>
</ul>