<ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-2">
	<li class="nav-item">
		<a href="{% url 'polizas:list' %}" class="nav-link"><span class="fa fa-file mr-1"></span>Polizas</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'usuarios:list' %}" class="nav-link"><span class="fa fa-users mr-1"></span>Usuarios</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'inventarios:list' %}" class="nav-link"><span class="fa fa-list-alt mr-1"></span>Inventarios</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'tickets:list' %}" class="nav-link"><span class="fa fa-ticket-alt mr-1"></span>Tickets</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'usuarios:logout' %}" class="nav-link text-danger">
			<span class="fa fa-sign-out-alt"></span>
			Cerrar Sesión
		</a>
	</li>
</ul>