{% for message in messages %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		<div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% else %}
		<div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
{% endfor %}

<script>
	setTimeout(() => {
		$('.alert').alert('close');
	}, 10000);
</script>